Django==5.1.7
APScheduler==3.11.0
numpy==2.3.4
pandas==2.3.3
pytz==2025.2
matplotlib==3.10.7
mplfinance==0.12.10b0
yahooquery==2.4.1
yfinance==0.2.66
# psycopg2==2.9.11
psycopg2-binary==2.9.11
# Production additions
gunicorn==23.0.0
whitenoise==6.11.0
django-allauth==65.13.1
PyJWT==2.10.1
cryptography==46.0.3
django-cleanup==9.0.0
django-tinymce==5.0.0
python-dotenv==1.0.1