{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BinaryFusion - Predictor{% endblock %}</title>

    <link rel="icon" type="image/jpg" href="{% static 'images/logo-dark.png' %}">

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/app.css' %}">

    {% block extra_head %}{% endblock %}
</head>

<body class="min-h-screen flex flex-col transition-colors duration-300" id="body">
    <canvas id="tradingCanvas" class="trading-animation"></canvas>

    <button class="theme-toggle" onclick="toggleTheme()">
        <span class="light-icon"><i class="fa fa-moon fa-flip-horizontal"></i></span>
        <span class="dark-icon hidden"><i class="fa fa-sun"></i></span>
    </button>

    <div id="imageModal" class="modal" onclick="closeModal()">
        <span class="close-modal">&times;</span>
        <img class="modal-content" id="enlargedImage">
    </div>

    {% include 'includes/header.html' with header_subtitle="AI Powered Trading Signal" header_type="app" %}

    {% block content %}{% endblock %}

    {% include 'includes/footer.html' %}

    {% block app_config %}{% endblock %}

    <script src="{% static 'js/app.js' %}"></script>

    {% block extra_js %}{% endblock %}
</body>

</html>