{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BinaryFusion{% endblock %}</title>

    <link rel="icon" type="image/jpg" href="{% static 'images/logo-dark.png' %}">

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">

    <link rel="stylesheet" href="{% static 'css/auth.css' %}">

    {% block extra_head %}{% endblock %}
</head>

<body class="min-h-screen flex flex-col transition-colors duration-300" id="body">
    <canvas id="tradingCanvas" class="trading-animation"></canvas>

    <button class="theme-toggle" onclick="toggleTheme()">
        <span class="light-icon"><i class="fa fa-moon fa-flip-horizontal"></i></span>
        <span class="dark-icon hidden"><i class="fa fa-sun"></i></span>
    </button>

    {% block header %}
    {% endblock %}

    {% block content %}{% endblock %}

    {% include 'includes/footer.html' %}

    <script src="{% static 'js/auth.js' %}"></script>

    {% block extra_js %}{% endblock %}
</body>

</html>