{% extends 'auth_base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/legal.css' %}">
    {% block legal_extra_head %}{% endblock %}
{% endblock %}

{% block content %}
    <!-- Scroll Progress -->
    <div class="progress-bar" id="progressBar" style="width: 0%;"></div>

    {% block legal_content %}{% endblock %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/legal.js' %}"></script>
    {% block legal_extra_js %}{% endblock %}
{% endblock %}
